<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    
  </head>
  <body>
	<div class="container">
		<div class="jumbotron">
        <h1> About Me </h1>
  			<!--<p>Get to know me a little better...</p> -->
		</div>

    <h4><b><u>Quick Intro:</u></b></h4>

		<p>My name is Jonathan Mariano and I have a computer science degree from UCSD. I graduated UCSD in 2015 and I currently work as a technical consultant for Informatica's Professional Services. I plan to pursue a master's degree in the field of Human-Computer Interaction/Human Factors.</p>

		<p>I love to travel and discover new cultures and cuisines. I also love the outdoors. Camping and backpacking with my dog Moose is my absolute favorite thing to do.</p>

    <h4><b><u>Projects:</u></b></h4>

    <p>Below are the last two projects I designed and coded for my Human-Computer Interaction courses at UCSD. The first project, Keep San Diego Safe, allows a user to select or enter a San Diego zip code and view the most common crimes in that region. A user can view the crime data in three ways. One, a word cloud displays the most prevalent crimes: the bigger the word, the more common the crime. Two, a bar graph and pie chart also present the crime data. Three, the raw data is displayed in a table at the bottom of the site.</p>

    <p>The second project, Emotion Notion is an online application to better foster "mindfulness". The user can select an emotion and write a brief description why they feel that way. Each entry is time stamped so the user can track their feelings over time.</p>

    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Project</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Keep San Diego Safe</td>
              <td>View the most prevalent crimes for a particular zip code in San Diego California.</td>
            </tr>
            <tr>
              <td>Emotion Notion</td>
              <td>Keep track of how you feel throughout the day. Select an emotion that represents how you are feeling. Then give a brief description as to why you are feeling that emotion.</td>
            </tr>
            <!--
            <tr>
              <td></td>
              <td>Select an emotion that represents how you are feeling.</td>
            </tr>
            <tr>
              <td></td>
              <td>Give a brief description as to why you are feeling that emotion.</td>
            </tr>  -->
          </tbody>          
        </table>
      </div>
    </div> <!--Close row-->

    <h4><b><u>My Best Friend Moose:</u></b></h4>

    <div class="row">
      <div class="col-md-6">
        <!--<img src="https://www.flipsnack.com/jonathanmariano/cutemoose.html" class="img">-->
        <div class="thumbnail">
          <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=ftniqnucg&bgcolor=EEEEEE&t=1539908638" width="640" height="385" seamless="seamless" scrolling="no" frameBorder="0"         allowFullScreen="true" class="img-responsive"></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <!--<img src="https://www.flipsnack.com/jonathanmariano/cutemoose.html" class="img">-->
        <div class="thumbnail">
          <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=fxp8y9kpo&bgcolor=EEEEEE&t=1539911098" width="640" height="385" seamless="seamless" scrolling="no" frameBorder="0"         allowFullScreen="true" class="img-responsive"></iframe>
        </div>
      </div>

    </div><!--Close row-->

		<p>Thank you for taking the time to get to know me. I hope you enjoy learning a new fact about San Diego, California through Keep San Diego Safe, and try to be a little more mindful during your day through Emotion Notion.</p>

    <p><a href="https://jonathan-mariano.herokuapp.com/">Home &raquo;</a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>

  </body>
</html>
